:root {
    scroll-behavior: smooth;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.principal {
    height: 100%;
    width: 100%;
}

.ini {
    display: flex;
    height: 100%;

}

img {
    width: 30px;
    height: 30px;

}

/*BAnner de navegacion*/
.banner {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 50px;
    padding: 0 10px 0 10px;
}

.barra {
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: center;

}

nav {
    background-image: linear-gradient(to top right, rgba(4, 12, 156, 0.712), rgba(0, 123, 172, 0.692), rgba(45, 149, 218, 0.562), rgba(255, 255, 255, 0.671));
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.7s;

}

nav ul a {
    list-style: none;
    display: inline-grid;
    padding: 5px 15px;
    margin: 10px;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.3s;
    text-decoration: none;
    transition: 0.5s;
}

nav ul a::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

nav ul a:hover {
    color: white;
}

nav ul a:hover::after {
    top: 50%;
    opacity: 1;
    transition: 0.4s;
}

/*Redes sociales*/
.redes {
    border-right: 2px solid rgba(255, 255, 255, 0.56);
    height: 649px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.red {
    padding: 5%;
    fill: black !important;
    color: black;

}

.red img:hover {
    width: 40px;
    height: 40px;
    transition: 0.4s;
}



.Titulo {
    height: 649px;
    width: 100%;
    color: #fff;
    font-family: monospace;
    align-items: center;

}

.Titulo h3 {
    font-size: 25px;
    padding: 30px 60px;
}

.Titulo h1 {
    font-size: 60px;
    padding: 20px 60px;
}

.Titulo p {
    font-size: 16px;
    padding: 10px 60px;
}

.frame {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

button {
    padding: 30px;
}

.btn1 {
    width: 170px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;

    outline: none;
}

.Acceder {
    background: linear-gradient(0deg, rgb(11, 109, 201) 0%, rgb(0, 54, 134) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.Acceder span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.Acceder:before,
.Acceder:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgb(6, 2, 251);
    box-shadow:
        -7px -7px 20px 0px rgb(0, 0, 0),
        -4px -4px 5px 0px rgba(0, 0, 0, 0.9),
        7px 7px 20px 0px rgba(255, 255, 255, 0.932),
        4px 4px 5px 0px rgba(255, 255, 255, 0.89);
    transition: all 0.3s ease;
}

.Acceder:before {
    height: 0%;
    width: 2px;
}

.Acceder:after {
    width: 0%;
    height: 2px;
}

.Acceder:hover {
    color: rgb(4, 43, 172);
    background: white;

}

.Acceder:hover:before {
    height: 100%;
}

.Acceder:hover:after {
    width: 100%;
}

.Acceder span:before,
.Acceder span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgb(38, 114, 255);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.Acceder span:before {
    width: 2px;
    height: 0%;
}

.Acceder span:after {
    height: 2px;
    width: 0%;
}

.Acceder span:hover:before {
    height: 100%;
}

.Acceder span:hover:after {
    width: 100%;
}



.extension {
    height: 649px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    align-items: end;
    box-sizing: border-box;
}

.ext {
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 60%;
    height: 120px;
    border-radius: 16px 0px 0px 16px;
    margin-top: 25px;
    align-items: center;
    background-position: center;
    text-align: center;
    display: flex;
}

.ext button {
    width: 100%;
    height: 100%;
    border-radius: 16px 0px 0px 16px;
    background-color: transparent;
    border: none;
    align-items: center;
    background-position: center;
    text-align: center;
    justify-content: center;
    color: transparent;
    cursor: pointer;
    display: flex;
}


.ext:hover {
    border-radius: 16px 0px 0px 16px;
    width: 70%;
    transition: 0.3s;
}

.ext button:hover {
    color: white;
    border-radius: 16px 0px 0px 16px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    font-size: 30px;
}

/**/
.letra {
    background-size: cover;
    font-family: 'Cabin Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    font-weight: bold;
    max-width: 250px;
    height: auto;
}

/*Efecto del button
.btn {
    width: 8.5em;
    height: 2.3em;
    margin: 0.5em;
    background-color: #001341;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button::after {
    content: "";
    background-color: #E4F2FE;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover::after {
    transform: skewX(-45deg)scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

*/
.titulo {
    background-color: black;
}

.titulo img {

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 380px;
}

/*Efecto del letras*/
.animacion {
    display: flex;
    align-items: center;
    justify-content: center;

}

.letra {

    font-size: 25px;
    transition: 0.4s;
    transform: translateX(0);
    cursor: none;
    color: rgb(255, 255, 255);
}

.letra:hover {
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg, hsl(18, 6%, 65%), hsl (56, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*Nosotros*/
.nosotros {
    margin: 4%;
    display: flex;
}

.info {
    width: 100%;
    background-image: repeating-linear-gradient(to right rgba(black, white));
}

/*efecto de diapositivas*/
.diapo {
    display: flex;
    box-sizing: border-box;


}

.img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.card {

    margin-left: 5px;
    height: 500px;
    background-color: black;
    flex: 1;
    transition: .3s all ease;

}

.card:hover {
    flex: 45;
    background-color: rgb(207, 207, 207);
}

/*Efecto cartas*/
.seccion2 {
    padding: 0;
    margin: 5% 0;
    width: 100%;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    flex-wrap: wrap;



}

.container .card1 {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
        inset -5px -5px 5px rgba(255, 255, 255, 0.5),
        5px 5px 5px rgba(0, 0, 0, 0.05), -5px 5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px;
}

.container .card1 .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .card1 .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.container .card1 .box .contenido {
    padding: 20px;
    text-align: center;

}

.container .card1 .box .contenido h1 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.container .card1 .box .contenido h2 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.4s;

}

.container .card1 .box .contenido p {
    font-size: 16px;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.4s;
}

.container .card1 .box .contenido a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container .card1:hover .box {
    transform: translateY(-50px);
    transition: 0.5s;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    background: linear-gradient(45deg, #b95ce4, #e91e06);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.container .card1:hover .contenido h1 {
    color: rgba(0, 0, 0, 0.05);
}

.container .card1:hover .contenido h2 {
    color: rgb(255, 255, 255)
}

.container .card1:hover .contenido p {
    color: rgb(255, 255, 255)
}

.container .card1:hover .contenido a {
    background: #ff568f;
}